{% extends 'base.html' %}

{% block content %}
<section class="delete-project-page">

<article class="delete-box" aria-labelledby="delete-project-title">
    <h2 id="delete-project-title">Delete Project</h2>

    <p>Are you sure you want to delete:</p>
    <strong>{{ project.title }}</strong>

    <form method="POST">
        {% csrf_token %}
        <div class="actions">
            <button class="btn danger" type="submit">Yes, Delete</button>
            <a href="{% url 'project_detail' project.id %}" class="btn ghost">Cancel</a>
        </div>
    </form>
</article>
</section>

{% endblock %}