{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <div class="hero-card">
        <h1>Plan Your DIY Projects with AI</h1>
        <p>
            Turn your ideas into structured build plans with materials, cost estimates,
            and step-by-step guidance.
        </p>

        <div class="buttons">
            <a href="{% url 'account_signup' %}">Get Started</a>
            <a href="{% url 'account_login' %}">Login</a>
        </div>
    </div>

</section>

{% endblock %}